.button {
  font: inherit;
  border: 1px solid #577399;
  background: #577399;
  color: white;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: auto;
  border-radius: 6px;
}

.button:hover,
.button:active {
  background: #bdd5ea;
  border-color: #bdd5ea;
}

.button:focus {
  outline: none;
}
