nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  position: relative;
  margin-bottom: 30px;
  // /* border: 1px solid #49586722; */
  background: rgba(26, 26, 26, 0.65);
}

.navbarBtn {
  // height: 50px;
  // width: 130px;
  // font-size: 20px;
  // border-radius: 3px;
  // box-sizing: border-box;
  // background: rgba(26, 26, 26, 0.65);
  // box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  // border-radius: 20px;
  border: 1px solid white;
}

.btnText {
  color: white;
  text-decoration: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.appTitle {
  font-size: 16px;
  position: absolute;
  left: 30;
  color: white;
  font-weight: 600;
  line-height: 66px;
}
