.formWrapper {
  /* border: 1px solid black; */
  width: 80%;
  height: 750px;
  margin: auto;
  position: relative;

  background: #262626;
  border: 1px solid #868686;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.formContainer {
  width: 640px; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 40px;
  /* position: relative; */
  /* border: 1px solid black; */
  /* top: 35%; */
  background: rgba(26, 26, 26, 0.65);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
}

h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  /* line-height: 48px; */
  color: white;
  text-align: center;
}

.textInput {
  width: 100%;
  font-size: 14px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  /* background: #f1f1f1; */
  background: rgba(26, 26, 26, 0.65);
  border-radius: 20px;
  color: white;
}

.textInput:focus {
  outline: none;
}

.textInput::placeholder {
  color: #6cc3c5;
}

.loginButton {
  /* background-color: #4CAF50; */
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  background: #6cc3c5;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}

.loginButton:hover {
  background: rgba(26, 26, 26, 0.65);
  border: 1px solid white;
}
